# .NET Core
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# macOS
.DS_Store

# IDEs
.vs/
.vscode/
.idea/
*.suo

# Environment/Secrets
appsettings.*.json
!appsettings.Development.json
*.env
*.secret

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/
[Oo]ut/
TestResults/
